{% extends model('component') %}

{% define config = {
    name: 'logo',
    renderAttributes: false
} %}

{% define data = {
    url: path('home')
} %}

{% define attributes = {
    src: '/assets/current/default/images/kingsman.png',
    height: '130px',
    alt: 'Logo'
} %}

{% block body %}
    <a href="{{ data.url }}" class="{{ config.name }}__link">
        <span class="grid grid--middle">
            {% if attributes.src is empty %}
                Here is the Kingsman Logo
            {% else %}
                <img {{block('attributes')}}>
            {% endif %}
        </span>
    </a>
{% endblock %}
