{% extends model('component') %}

{% define config = {
    name: 'footer-logo',
    tag: 'span'
} %}

{% define attributes = {
    src: '/assets/current/default/images/innowise.svg',
    width: '90px',
    alt: 'INNOWISE GROUP LOGO',
} %}

{% block body %}
    <a href="{{ 'footer.logo.url' | trans }}" class="{{ config.name }}__link" target="_blank">
        <span class="grid grid--middle">
            {% if attributes.src is empty %}
                INNOWISE GROUP LOGO
            {% else %}
                <img {{block('attributes')}}>
            {% endif %}
        </span>
    </a>
{% endblock %}
